<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

<div class="well">
<% if (currentUser) { %>
    <h4>User details:</h4>
    <dt>Current role: </dt><dd><%= currentUser.role %></dd>
    <dt>Email: </dt><dd> <%= currentUser.local.email %></dd>
    <dt>Password (Hashed):</dt><dd><%= currentUser.local.password %></dd>
    <dt>Your Author ID: </dt><dd> <%= currentUser._id %> </dd>
    <% } %>
    <br>
    <dt> Admin Panel: </dt>
    <% if (currentUser.role === 'boardMember') { %>
    <dd><li><a href="/minutes/new"><span>New Minutes (Board Member)</span></a></li></dd>
        <% } %>
</div>


    <div>
      <h3>All Minutes:</h3>
      <div>
      <% minutes.forEach(function(minute) { %>
        <dl class="dl-horizontal">
          <dt>Date of</dt><dd><%= minute.dateOf %></dd>
          <dt>Type</dt><dd><%= minute.type %></dd>
          <dt>Approved</dt><dd><%= minute.approved %></dd>
          <dt>Headline</dt><dd><%= minute.headline %></dd>
          <dt>Author ID</dt><dd><%= minute.author %></dd>
        </dl>
      <% }) %>
      </div>
    </div>

<br>


<br>



<!-- <iframe id="iframepdf" src="/images/Minutes-July2016.pdf" width="450" height="500"></iframe>
 -->

  <iframe id="iframepdf" src="https://s3.amazonaws.com/airbridge-wdi/images/Minutes-July2016.pdf" width="450" height="500"></iframe>


<!-- <iframe id="iframepdf" src="/images/Agenda-July2016.pdf" width="450" height="500"></iframe>
 -->
    <iframe id="iframepdf" src="https://s3.amazonaws.com/airbridge-wdi/images/Agenda-July2016.pdf
" width="450" height="500"></iframe>




  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
